NEXT_PUBLIC_GISCUS_APP_HOST=https://giscus.app
NEXT_PUBLIC_REVALIDATE_FIRST_PAGE=true
GITHUB_APP_ID=339132
GITHUB_CLIENT_ID=Iv1.d2fa79331fbec064
GITHUB_CLIENT_SECRET=9aff25d079cbf29d52084a0982487abdedd211d6
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nSHA256:5enFUc2P5GDUWr7qdfXTWjBqHUkw0M1rz23Yf/Sgocw=\n-----END RSA PRIVATE KEY-----"
ENCRYPTION_PASSWORD=s0m3r4nd0mstr1ng!w1thh1gh3ntr0pys0m3r4nd0mstr1ngw1thh1gh3ntr0py!
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdhbWhveWJkcXhzcG5oZWt5dGJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODUwODIzMTgsImV4cCI6MjAwMDY1ODMxOH0.JVJAKpg8bq9wa8MpeYgyhIpf_b375Ws2FSLiyGfEK1Y
SUPABASE_URL=https://gamhoybdqxspnhekytbw.supabase.co
SUPABASE_INSTALLATION_ACCESS_TOKENS_TABLE=installation_access_tokens
# The following values are only for CORS-related stuff in the API.
# The usage is different from the values in giscus.json.
ORIGINS=["https://giscus.app", "https://giscus.vercel.app"]
ORIGINS_REGEX=["http://localhost:[0-9]+"]
